/node_modules
/node_modules/**
/build
/build/**
/production
/production/**
/.history
/.history/**
/mysql-full-dump
/mysql-full-dump/**
.env.local
/.git
/.git/**
.env
.env.*
*.secret.sql
