/node_modules
/node_modules/**
/build
/build/**
/production
/production/**
/production-build.js
production-build.js
/.history
/.history/**
/mysql-full-dump
/mysql-full-dump/**
/.git
/.git/**
*.secret.sql
*.scrt
.env
.env.*
.env.local
.env.development
.env.production
/production-build.js
*Zone.Identifier